
<ul>
{% for review in reviews %}
  <li>review Title: {{ review.title }}</li>
  <li>review First Name: {{ review.firstName }}</li>
  <li>review Last Name: {{ review.lastName }}</li>
  <li>review Date Submitted {{ review.dateSubmitted }}</li>
  <li>review Content: {{ review.content }}</li>
{% endfor %}
</ul>

{{ api_id }}     